html {
    background: #f9f9f9;
}

/* NAVBAR */
header {
    background: white;
    display: grid;
    grid-template-columns: 15% 65% 20%;
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
}

.navbar-icon {
    height: 24px;
    width: 24px;
    padding: 8px;
}

.icon-left {
    display: grid;
    grid-template-columns: 25% 75%;
    align-self: center;

}

.youtube-logo {
    place-self: stretch;
}

.icon-middle {
    align-self: center;
    justify-self: center;
    box-sizing: border-box;
}

.icon-middle > input {
    /* THIS NEEDS TO BE RESPOSIVE */
    height: 26px;
    margin-right: 0;
    width: 600px;
}

/* .icon-middle > button {
    height: 26px;
    margin-left: 0;
    width: 65px;
} */

.icon-right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    /* justify-self: end; */
    row-gap: 10px;
}

/* main */

main {
    display: grid;
    grid-template-columns: 65% 30%;
    place-content: space-evenly space-evenly;
    padding-top: 50px;
}

aside,
section {
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 0.8em;
}

aside {
    grid-column-start: 2;
}

section {
    grid-column-start: 1;
}

.video-title {
    font-size: 20px;
}

/* LIKE BAR */

.like-bar{
    display: grid;
    grid-template-columns: 60% 40%;
    border-bottom: solid 1px grey;

}

.like-right {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-self: center;
}

.like-left {
    margin-top: 0;
    color: grey;
    font-size: 16px;
    
}


/* BUTTONS */
.btn {
    cursor: default;
    background: #f9f9f9;
    border: none;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background-color: grey;
}

.btn-nav {
    background: white;
}

.btn-subscribe {
    color: white;
    background: #dd2c00;
    padding: 10px 16px;
    white-space: nowrap;
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: .007px;
    text-transform: uppercase;
    height: 40px;
}

/* DESCRIPTION */
.description {
    padding-top: 16px;
    display: grid;
    grid-template-columns: 10% 70% 20%;
    border-bottom: solid 1px grey;
}

.description-middle > h4 {
    margin-bottom: 0;
}

.description-middle > h5 {
    margin-top: 0;
    font-size: 12px;
    color: grey;
}

.show-more {
    font-size: 14px;
    color: grey
}

/* COMMENTS */

.comments {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 10% 90%;
    margin-bottom: 20px;

}

.comments-user {
    font-size: 16px;
    font-weight: bold;
}
.comments-update {
    font-size: 16px;
    color: gray
}

/* Aside Section */

.giphy-embed {
    display: grid;
    grid-template-areas:
     "gif description "
    ;
}

.gif {
    width: 12em;
    height: 7em;
}

.gif-description {
    grid-area: description;

    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 0.25em;
    align-content: center;

    margin: 0.5em;
}

.gif {
    grid-area: gif;
}

.name {
    font-weight: bold;
}

.author,
.views {
    font-size: small;
    color: grey;
}