html {
    background: #f9f9f9;
}

/* NAVBAR */
header {
    background: white;
    display: grid;
    grid-template-columns: 15% 65% 20%;
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
}

.navbar-icon {
    height: 24px;
    width: 24px;
    padding: 8px;
}

.icon-left {
    display: grid;
    grid-template-columns: 25% 75%;
    align-self: center;

}

.youtube-logo {
    place-self: stretch;
}

.icon-middle {
    align-self: center;
    justify-self: center;
    box-sizing: border-box;
}

.icon-middle > input {
    /* THIS NEEDS TO BE RESPOSIVE */
    height: 26px;
    margin-right: 0;
    width: 600px;
}

.icon-middle > button {
    /* THIS NEEDS TO BE FIXED */
    height: 26px;
    margin-left: 0;
    width: 65px;
}

.icon-right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    /* justify-self: end; */
    row-gap: 10px;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(10, 115px);

}

.video{
    grid-row-start: 1;
    grid-row-end: 5;
}

.clips {
    /* background: green; */
    grid-column-start: 2;
}

.title {
    grid-row-start: 5;
}

.likes {
    grid-row-start: 6;
}
