html {
    background: #f9f9f9;
}

/* NAVBAR */
header {
    background: white;
    display: grid;
    grid-template-columns: 15% 65% 20%;
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
}

.navbar-icon {
    height: 24px;
    width: 24px;
    padding: 8px;
}

.icon-left {
    display: grid;
    grid-template-columns: 25% 75%;
    align-self: center;

}

.youtube-logo {
    place-self: stretch;
}

.icon-middle {
    align-self: center;
    justify-self: center;
    box-sizing: border-box;
}

.icon-middle > input {
    /* THIS NEEDS TO BE RESPOSIVE */
    height: 26px;
    margin-right: 0;
    width: 600px;
}

/* .icon-middle > button {
    height: 26px;
    margin-left: 0;
    width: 65px;
} */

.icon-right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    /* justify-self: end; */
    row-gap: 10px;
}

/* main */

main {
    display: grid;
    grid-template-columns: 65% 30%;
    place-content: space-evenly space-evenly;
}

aside,
section {
    display: grid;
    grid-auto-rows: min-content;
}

aside {
    grid-column-start: 2;
}

section {
    grid-column-start: 1;
}

/* LIKE BAR */

.like-bar{
    display: grid;
    grid-template-columns: 60% 40%;
}

.like-right {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-self: center;
}

h3 {
    margin-top: 0;
    
}

.btn {
    cursor: default;
    background: #f9f9f9;
    border: none;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background-color: grey;
}

.btn-nav {
    background: white;
}